@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1548138373501'); /* IE9 */
  src: url('iconfont.eot?t=1548138373501#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABjAAAAJCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo4VwE2AiQDCAsGAAQgBYRtBzIbfwXILjEVGemuJNDu4PRo9KHN+NtkACHEw9Mhe//uWmPQ1M1jUhzlhWFRCSeSaECb49t+P00RhOldzpcl0IAV2o95Hzg/o/NVc2LKdHJyE245wTPUPoCFzDLGhlZPJmWCEpVSzJgNu2YrzA3n81xObwIdyPxA59geNNakSb2AenEgBboHRpEVSuANYxe8wMcEWk0aKhxd3D1CXWGvCsSd5xhQL0QVhRWahcaGg0W8atCcntN4ib4ffzaiTtKQ2S2nt+c27D5zSrL10U1AiBHQ8QZkrAOFuGzMHisJxpW0ZstmwbEag89qDTziqE7B/jq7vh2MQ9Uzqb2VAiR4rKnaMDTpxxBt9z974Tq+7fMn2Tmuah5aWto4DvfZtwOoyG8ZBQTDa4OV1uu/ua2AD9IoXFEM84Pm9X3Bf1APHCiG1nanoqkbR5O2/be1akUlHOz1N9U2cNJiaDYwwd9kIkPWbJ4s7DoatNlCo2a7aLXm8nibPqwkSgtWHQBCty8knd6RdfsmC/uLBoP+0ag7Smh1HS5ssxhecyZDyEbzAz0riZXrlWbceE/OS2hwXhvxz8S5l8DZeFouXFJMvMSW/NWZiyhUnER4AZ6jMEww5cQnS8auSLqYTFTTm8ZWEkHTIUYMgtiQ6QPyWBIxFYwXzcrn7xHHi5CBO/rqymeE5bzZ0czYdAB5aYoH9T3KK7lXjjkhFKSwRARdgHkkFEqgtHmej1jEmDshnVqYOMPUUNN4e0v0dyeglW1P4VRmzQ9e7HhOAA==') format('woff2'),
  url('iconfont.woff?t=1548138373501') format('woff'),
  url('iconfont.ttf?t=1548138373501') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1548138373501#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingxing:before {
  content: "\e6b9";
}

